.birthday-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.person-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.person-details {
  margin-left: 0.75rem;
  font-size: 0.8rem;
}

.person-name {
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.person-age {
  color: #555;
}
