* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: hsl(350, 73%, 78%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
